/Theads/bin/Debug/netcoreapp3.1/ThreadsProject.deps.json
/Theads/bin/Debug/netcoreapp3.1/ThreadsProject.dll
/Theads/bin/Debug/netcoreapp3.1/ThreadsProject.exe
/Theads/bin/Debug/netcoreapp3.1/ThreadsProject.pdb
/Theads/bin/Debug/netcoreapp3.1/ThreadsProject.runtimeconfig.dev.json
/Theads/bin/Debug/netcoreapp3.1/ThreadsProject.runtimeconfig.json
/Theads/obj/Debug/netcoreapp3.1/Theads.AssemblyInfo.cs
/Theads/obj/Debug/netcoreapp3.1/Theads.AssemblyInfoInputs.cache
/Theads/obj/Debug/netcoreapp3.1/Theads.assets.cache
/Theads/obj/Debug/netcoreapp3.1/Theads.csprojAssemblyReference.cache
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.AssemblyInfo.cs
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.AssemblyInfoInputs.cache
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.assets.cache
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.csproj.FileListAbsolute.txt
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.csprojAssemblyReference.cache
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.dll
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.exe
/Theads/obj/Debug/netcoreapp3.1/ThreadsProject.pdb
/Theads/obj/Theads.csproj.nuget.cache
/Theads/obj/Theads.csproj.nuget.dgspec.json
/Theads/obj/Theads.csproj.nuget.g.props
/Theads/obj/Theads.csproj.nuget.g.targets
/Theads/obj/ThreadsProject.csproj.nuget.cache
/Theads/obj/ThreadsProject.csproj.nuget.dgspec.json
/Theads/obj/ThreadsProject.csproj.nuget.g.props
/Theads/obj/ThreadsProject.csproj.nuget.g.targets
/Theads/obj/project.assets.json
/.vs
